experiment_name: train

lightning_module:
  _target_: PROJECT_NAME.lightning_modules.ClassificationLightningModule
  model:
    _target_: PROJECT_NAME.models.BaselineClassicationModel
    input_size: 3072
    output_dimension: 1
  loss:
    _target_: torch.nn.BCEWithLogitsLoss
  metrics:
    accuracy:
      _target_: torchmetrics.classification.BinaryAccuracy
      threshold: 0.
    f1_score:
      _target_: torchmetrics.classification.BinaryF1Score
      threshold: 0.
    precision:
      _target_: torchmetrics.classification.BinaryPrecision
      threshold: 0.
    recall:
      _target_: torchmetrics.classification.BinaryRecall
      threshold: 0.
  learning_rate: 1e-2
  cyclic_lr: True

train_dataloader:
  _target_: torch.utils.data.DataLoader
  batch_size: 4
  num_workers: 1
  shuffle: True
  dataset:
    _target_: PROJECT_NAME.dataset.ImageClassificationDataset
    annotations_file: "data/labels/labels_train.csv"
    img_dir: "data/images"
    labels: ["BELGIUM", "FRANCE"]
    transform:
      _target_: torchvision.transforms.v2.Compose
      transforms:
        - _target_: torchvision.transforms.v2.ColorJitter
          brightness: .5
          saturation: .5
          contrast: .5
          hue: .1
        - _target_: torchvision.transforms.v2.RandomPerspective
          p: 0.5
          distortion_scale: 0.25

val_dataloader:
  _target_: torch.utils.data.DataLoader
  batch_size: ${train_dataloader.batch_size}
  num_workers: ${train_dataloader.num_workers}
  shuffle: False
  dataset:
    _target_: PROJECT_NAME.dataset.ImageClassificationDataset
    annotations_file: "data/labels/labels_val.csv"
    img_dir: ${train_dataloader.dataset.img_dir}
    labels: ${train_dataloader.dataset.labels}
    transform: null

test_dataloader:
  _target_: torch.utils.data.DataLoader
  batch_size: ${train_dataloader.batch_size}
  num_workers: ${train_dataloader.num_workers}
  shuffle: False
  dataset:
    _target_: PROJECT_NAME.dataset.ImageClassificationDataset
    annotations_file: "data/labels/labels_test.csv"
    img_dir: ${train_dataloader.dataset.img_dir}
    labels: ${train_dataloader.dataset.labels}
    transform: null

trainer:
  _target_: lightning.Trainer
  default_root_dir: "${hydra:runtime.output_dir}"
  max_epochs: 100
  callbacks:
    - _target_: lightning.pytorch.callbacks.ModelCheckpoint
      dirpath: "${hydra:runtime.output_dir}/checkpoints"
      monitor: "val_f1_score"
      mode: "max"
      save_last: True
      filename: "best-{epoch}-{val_f1_score:.4f}"
      every_n_epochs: 1
      save_top_k: 1
  logger:
    _target_: lightning.pytorch.loggers.TensorBoardLogger
    save_dir: "${hydra:runtime.output_dir}/tb_logs"
    name: "Classification"
  log_every_n_steps: 50
  accelerator: "gpu"
  devices: 1
  deterministic: True

random_seed: 0

hydra:
  run:
    dir: experiments/${now:%Y-%m-%d_%H-%M-%S}_${experiment_name}
